@font-face {
    font-family: "Noto Serif";
    font-style: normal;
    font-weight: 1 1000;
    font-stretch: normal;
    src: url("../assets/fonts/NotoSerif-VariableFont_wdth,wght.ttf")
        format("truetype-variations");
}

@font-face {
    font-family: "Anton";
    font-style: normal;
    font-weight: normal;
    src: url("../assets/fonts/Anton-Regular.ttf") format("truetype");
}

:root {
    --main-color: -moz-linear-gradient(to right, #ea5eda, #ff5d34);
    --main-color: -webkit-linear-gradient(to right, #ea5eda, #ff5d34);
    --main-color: linear-gradient(to right, #ea5eda, #ff5d34);
    --border-radius: 4px;
    --text-btn-color: #2d2842;
    --text-color-light: #fefcfd;
}

:root.light-theme {
    --secondary-color: #ececec;
    --background-color: #f7f7f7;
    --text-color: #292929;
}

:root.dark-theme {
    --secondary-color: #171719;
    --background-color: #0f0f0f;
    --text-color: #fefcfd;
}
